<div class="layout">
  <aside class="sidebar">
    <div class="logo">Library</div>
    <ul class="menu">
      <li routerLink="/home">Home</li>
      <li routerLink="/notification" routerLinkActive="active">Notification</li>
      <li routerLink="/book">Book</li>
      <li routerLink="/settings" >Settings</li>
    </ul>
  </aside>
  <div class="main">
    <header class="topbar">
      <div></div>
      <div class="user">
        USER1
      </div>
    </header>
    <div class="content">
      <h1>Notification</h1>
      <div class="notification-card">
        <div class="bell"></div>
        <p class="text">
          Your book is ready to pick up go to the Main campus library
        </p>
        <button class="close">×</button>
      </div>
    </div>
  </div>
</div>