* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
  background: #e8dfcf;
}


.sidebar {
  width: 220px;
  background: rgb(241, 232, 216);
  border-right: 1px solid #ddd;
}

.logo {
  background: rgb(207, 165, 108);
  padding: 15px 25px;
  font-weight: 600;
  color: white;
}

<<<<<<< HEAD
.menu {
  list-style: none;
  padding: 20px;
=======
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 20px;
  background:rgb(207, 164, 107);

 .search{
   width: 250px;
   padding:5px 10px;
   border-radius:15px;
   border:1px solid #999;
  }

  input{
    width:570%;
    padding:6px 10px;
    border-radius:10px;
    border:none;
  }

  .user{
    font-size:14px;
    
  }
>>>>>>> 05a0df70de9e91461205f498f29d8336390b7757
}

.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: rgb(122, 85, 41);
}

.menu li.active {
  background: rgb(208, 140, 51);
}

.menu li:hover {
  background: rgb(230, 211, 178);
}


<<<<<<< HEAD
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.topbar {
  height: 50px;
  background: rgb(207, 165, 108);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}



.content {
  padding: 30px;
}

.content h1 {
  margin-bottom: 25px;
}



.notification-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgb(238, 238, 238);
  padding: 22px 25px;
  border-radius: 18px;
  width: 780px;
}

.bell {
  font-size: 28px;
}

.text {
  flex: 1;
  font-size: 16px;
}

.close {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
=======
  .close{
    border:none;
    background:none;
    font-size:16px;
    cursor:pointer;
  }
}
>>>>>>> 05a0df70de9e91461205f498f29d8336390b7757
