<div class="login-container">
  <div class="card">
    <h2>Sign In</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <div class="input-group">
        <input
          type="text"
          placeholder="Username"
          formControlName="username"
        />
      </div>

      <div class="input-group">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>

      <div>
        <a routerLink="/forgotpassword">Forgot Password</a>
      </div>

      <button routerLink="/home">Login</button>

      <div>
        Don't have an account? <a routerLink="/signup">Create account</a>
      </div>

    </form>
  </div>
</div>