<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List</title>
</head>
<body>
  <div class="main">

    <header class="topbar">
      <div class="title">Library</div>

      <div class="user">
        USER1 👤
      </div>

    </header>

    <div class="container">

  <aside class="sidebar">

    <ul class="menu">
      <li routerLink="/adhome">🏠 Home</li>
      <li routerLink="/adnot">🔔 Notification</li>
      <li class="active">📚 List</li>
      <li routerLink="/settingsadmin">⚙️ Settings</li>
    </ul>
  </aside>

   <section class="content">

      <h2>List</h2>

    </section>
  
  </div>
    </div>

</body>
</html>
