<div class="forgotpassword-container">

  <div class="card">

    <div class="header">
      <h2>New Password</h2>
    </div>

    <form [formGroup]="loginForm">

      <div class="input-group">
        <label>Username/Email</label>
        <input
          type="text"
          formControlName="username"
        />
      </div>

      <div class="input-group">
        <label>New password</label>
        <input
          type="password"
          formControlName="password"
        />
      </div>

      <div class="input-group">
        <label>Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
        />
      </div>

      <button type="submit">Login</button>

      <p class="back">
        <a routerLink="/login">Back</a>
      </p>

    </form>

  </div>

</div>