<div class="main">

    <header class="topbar">
      <div class="title">Library</div>

      <div class="user">
        {{ userName }} 👤
      </div>
    </header>
  <div class="container">

  <aside class="sidebar">

    <ul class="menu">
      <li class="active">🏠 Home</li>
      <li routerLink="/notification">🔔 Notification</li>
      <li routerLink="/book">🛒 Book Cart</li>
      <li routerLink="/settings">⚙️ Settings</li>
    </ul>
  </aside>
  
  <section class="content">

      <h2>Library</h2>
      <div class="search-container">
        <div class="search" style="margin-bottom: 0;">
          <input type="text" placeholder="Search by title or author" [(ngModel)]="searchTerm">
        </div>
        
        <div class="filter-dropdown">
          <button class="filter-btn" (click)="isFilterOpen = !isFilterOpen">
            ⚲ Filter
          </button>
          
          <div class="filter-menu" *ngIf="isFilterOpen">
            <label *ngFor="let g of genres" class="filter-option">
              <input type="checkbox" 
                     [checked]="selectedGenres.includes(g.Genre)"
                     (change)="toggleGenre(g.Genre)" />
              {{ g.Genre }}
            </label>
          </div>
        </div>
      </div>

      <div class="books-list">
        <div class="book-card" *ngFor="let book of filteredBooks">
          <div class="book-info">
            <h3>{{ book.Title }}</h3>
            <p class="edition">ISBN: {{ book.isbn }}</p>
            <p class="author">By: {{ book.Author }}</p>
            <span class="status" [class.available]="book.Status === 'Available'">
              {{ book.Status }}
            </span>
            <button class="borrow-btn" *ngIf="book.Status === 'Available'" (click)="addToCart(book)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>