*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.page{
height:100vh;
background:rgb(232, 221, 201);
}

.topbar{
height:50px;
background:rgb(207, 164, 106);
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
color:white;
font-weight:bold;
}

.user{
display:flex;
align-items:center;
gap:5px;
}

.layout{
display:flex;
height:calc(100vh - 50px);
}

.sidebar{
width:220px;
background:rgb(243, 234, 217);
padding:20px 15px;
border-right:1px solid rgb(224, 214, 194);
}

.sidebar ul{
list-style:none;
}

.sidebar li{
display:flex;
align-items:center;
gap:10px;
padding:10px 15px;
margin-bottom:10px;
color:rgb(155, 106, 50);
cursor:pointer;
font-size:16px;
}

.menu-item.active{
  background:rgb(212, 168, 115);
  color:white;
}

.sidebar li:hover{
background:rgb(229, 200, 159);
border-radius:14px;
}

.content{
flex:1;
padding:30px;
position:relative;
}

.content h2{
margin-bottom:10px;
}

.search{
display:flex;
align-items:center;
gap:5px;
border:1px solid rgb(136, 136, 136);
border-radius:10px;
width:270px;
padding:4px 8px;
margin-bottom:40px;
}

.search input{
border:none;
outline:none;
background:transparent;
width:100%;
}

.books{
display:flex;
gap:40px;
}

.card{
width:170px;
height:210px;
background:rgb(207, 207, 207);
border-radius:4px;
}




