* { margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; }
html, body { height: 100%; width: 100%; }
.main { display: flex; flex-direction: column; height: 100vh; width: 100%; background: transparent; }
.topbar { display: flex; justify-content: space-between; align-items: center; padding: 12px 20px; background: #dead7f; .title { font-size: 18px; font-weight: bold; color: white; } .user { color: #333; font-size: 14px; font-weight: bold; } }
.container { display: flex; flex: 1; background: #fdfaf0; overflow: hidden; }
.sidebar {
  width: 220px;
  background: #fdfaf0;
  padding: 20px;
  border-right: 1px solid #eee;
  height: 100%;

  .menu {
    list-style: none;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 8px;
      cursor: pointer;
      color: #7f5539;
      font-weight: bold;

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }

      &.active {
        background: #dfa97b;
        color: rgb(254, 254, 254);
        border-radius: 12px;
      }

      &:hover:not(.active) {
        background: rgb(241, 235, 216);
      }
    }
  }
}

.content { 
  flex: 1; 
  padding: 30px; 
  overflow-y: auto; 
  background: #fdfaf0; 
  position: relative;
  
  h2 { 
    margin-bottom: 20px; 
    color: #333; 
    font-size: 20px;
    font-weight: normal;
  } 
}

.search {
  margin-bottom: 25px;
  
  input {
    width: 300px;
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: #fff;
    outline: none;
    
    &:focus { border-color: #dfa97b; }
  }
}

.books-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.book-card {
  background: white;
  border-radius: 20px;
  padding: 20px 25px;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);

  .book-info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      font-size: 18px;
      color: #000;
      margin: 0;
      padding-right: 120px;
      font-weight: 500;
    }
    
    .edition, .author {
      font-size: 14px;
      color: #666;
      margin: 0;
    }
    
    .status {
      display: inline-block;
      align-self: flex-start;
      margin-top: 5px;
      padding: 4px 16px;
      border-radius: 20px;
      font-size: 12px;
      font-weight: bold;
      
      &.available { background: #e8f5e9; color: #4caf50; }
    }

    .borrow-btn {
      position: absolute;
      top: 0;
      right: 0;
      background: #3eb56b;
      color: white;
      padding: 10px 20px;
      border-radius: 12px;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      border: none;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      
      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 6px 12px rgba(0,0,0,0.15);
      }
    }
  }
}
