<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div class="main">

    <header class="topbar">
      <div class="title">Library</div>

      <div class="user">
        USER1 👤
      </div>
    </header>
  <div class="container">

  <aside class="sidebar">

    <ul class="menu">
      <li routerLink="/home">🏠 Home</li>
      <li routerLink="/notification">🔔 Notification</li>
      <li routerLink="/book">📚 Book</li>
      <li class="active">⚙️ Settings</li>
    </ul>
  </aside>

<div>
  <section class="content">
    <h2>Settings</h2>
    <div class="account-card">
      <div class="card-header">
        <span><p>Account Settings</p></span>
      </div>
      <div class="Account-body">
        <div class="profile">
          <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
          <div class="info">
            <h4>USER1</h4>
            <P>user01@gmail.com</P>
          </div>
        </div>

        <div class="buttons">
          <button class="change"(click)="changePassword()">Change Password</button>
            <button class="save"(click)="saveChanges()">Save Change</button>
        </div>
      </div>
    </div>
    <div class="notification-card">
      <div class="card-header">
        <span><p>Notification Settings</p></span>
      </div>
    </div>
  </section>
</div>
  
</div>
</div>
</body>
</html>
