<div class="page">
  <div class="topbar">
    <div class="logo">Library</div>
    <div class="user">USER1</div>
  </div>
  <div class="layout">
    <div class="sidebar">
      <ul>
        <li routerLink="/home" >Home</li>
        <li routerLink="/notification">Notification</li>
        <li routerLink="/booking">Booking</li>
        <li routerLink="/list"> List</li>
        <li routerLink="/settings" routerLinkActive="active">Settings</li>
        <li routerLink="/add-books" >Add Books</li>
      </ul>
    </div>
    <div class="content">
      <div class="search">
        <input type="text" placeholder="Search">
      </div>
      <h2>Settings</h2>
      <div class="account-card">
        <div class="card-header">
           Account Settings
        </div>
        <div class="account-body">
          <div class="info">
            <h4>Ron Michael Deloso</h4>
            <p>Ron.MichelDeloso@gmail.com</p>
          </div>
          <div class="buttons">
            <button class="password-btn">Change Password</button>
            <button class="save-btn">Save Change</button>
          </div>
        </div>
      </div>
      <div class="notification-card">
        <div class="card-header">
           Notification Settings
        </div>
      </div>
    </div>
  </div>
</div>